#header-image {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    position: relative;
    background-size: 1003px 170px; /* The dimentions of your image */
    background-position: center;
    background-repeat: no-repeat;
  }
.img-fluid {
    margin-left: 100px;
}
  
@media only screen and (max-width: 1400px) {
    .img-fluid {
        margin-left: 50px;
    }
}
  
@media only screen and (max-width: 1200px) {
    .img-fluid {
        margin-left: 100px;
    }
}
#intro {
    margin-left: 0px;
}

#intro-title {
    color: #4F6267;
}

#intro-undertitle { 
    font-style: italic;
    color: #4F6267;
}

#info {
    margin: 0px 20px 0px 20px;
}
#timeline {
    color:#4F6267;
    font-size: small;
}
#timeline-title {
    color:#4F6267;
    font-weight: 700 !important;
}
#footer {
    margin: 0px 10px 0px 10px;
}
#QR-Code {
    max-width: 100px;
}
#button {
  background-color: white;  
  border: 2px solid #E54919;
  transition-duration: 0.1s;
}
#button:hover {
    background-color: #E54919;
    color: white;
  }